# emacs files
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# PyCharm files
.idea/

# python 
__pycache__
*.pyc

# jupyter-notebook
.ipynb_checkpoints/

# pipenv
Pipfile
Pipfile.lock

# project-specific
data/
venv/
tmp/
*.h5
